@use "../_variables" as *;

.app-header {
  background: inherit;

  [data-theme='dark'] {
    border-color: rgba(255, 255, 255, 0.1);
  }

  .header-content {
    margin: 0 auto;
    padding: 0 $page-h-padding;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 5px;
  }

  h1 {
    margin: 0;
    font-size: 20px;
  }

  .menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: var(--bg-op-dark-ultraweak);
    }

    svg {
      fill: currentColor;
    }
  }
}
