@use "../_variables" as *;

.outlet-container {
  > .app-header {
    position: absolute;
    left: 0;
    width: 100%;
    transition: width $transition-normal ease, left $transition-normal ease;

    &.sidebar-visible {
      width: calc(100% + $sidebar-width);
      left: -$sidebar-width;

      @media (max-width: $breakpoint-m) {
        width: 100%;
        left: 0;
      }
    }
  }
}

.app-header {
  background: inherit;

  [data-theme='dark'] {
    border-color: rgba(255, 255, 255, 0.1);
  }

  &.sidebar-visible {
    .menu-container {
      position: static;
    }
  }

  .header-content {
    margin: 0 auto;
    padding: 0 $page-h-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 5px;

    .left-side {
      display: flex;
      align-items: center;
      gap: 16px;

      .menu-container {
        display: flex;
        align-items: center;
        gap: 16px;
        white-space: nowrap;
      }
    }

    .right-side {
      display: flex;
      align-items: center;
    }
  }

  h1 {
    margin: 0;
    font-size: 20px;
  }

  .menu-btn, .help-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: var(--bg-op-dark-ultraweak);
    }

    svg {
      fill: currentColor;
    }
  }

  .help-btn {
    color: var(--text-weak);

    &:hover {
      color: var(--text);
    }
  }
}
