@use "../_variables" as *;

.sidebar {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  max-width: 768px;
  transition: all 0.3s ease;
  padding: 30px 15px;
  transform: translateX(50px);
  opacity: 0;
  flex: 0;
  width: 0;
  margin: 0;
  
  .sidebar-content {
    height: 100%;
    border-radius: 10px;
    background: var(--bg);
    border: 1px solid var(--border-weak);
  }

  &.visible {
    transform: translateX(0);
    opacity: 1;
    flex: 1;
    width: auto;
    margin: 0 15px;
  }
} 

.toggle-sidebar-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  
  &:hover {
    background: var(--bg-btn-hover);
  }
  
  svg {
    fill: var(--stroke-extremestrong);
  }
} 
