@use "../variables" as *;

.theme-switch-root {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 1px;
  border: 1px solid var(--border-inverted-op-mediumweak);
  background: var(--bg-op-dark-mediumweak);
}

.theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: var(--stroke-dark-weak);

  &:hover {
    color: var(--stroke-hover);
    background: var(--bg-op-dark-mediumweak);
  }

  &.active {
    background: var(--bg-success);
    color: var(--stroke-light-extremestrong);
    box-shadow: 0px 3px 7px var(--theme-btn);
  }
}