@use "../_variables" as *;
@use "sass:color";

.tooltip-content {
  border-radius: 6px;
  padding: 6px 8px;
  line-height: 1.2;
  text-align: center;
  font-size: 14px;
  background-color: var(--bg-dark-ultrastrong);
  color: var(--text-light);
  max-width: 280px;
  // box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  z-index: 2500;

  &.controls {
    display: flex;
    gap: 4px;

    .key {
      font-size: 12px;
      border: 1px solid var(--border-light);
      border-radius: 4px;
      line-height: 14px;
      padding: 2px 6px;
    }
  }
}
.tooltip-content[data-state='delayed-open'][data-side='top'] {
  animation-name: slideDownAndFade;
}
.tooltip-content[data-state='delayed-open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}
.tooltip-content[data-state='delayed-open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.tooltip-content[data-state='delayed-open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

.tooltip-arrow {
  fill: var(--bg-dark-ultrastrong);
}


@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
