@use "variables" as *;

@use "./components/Header";
@use "./components/ModelConfig";
@use "./components/HistorySidebar";
@use "./components/Sidebar";
@use "./components/Toast";
@use "./components/Tooltip";
@use "./components/InfoTooltip";
@use "./components/ThemeSwitch";
@use "./components/PopupWindow";
@use "./components/PopupConfirm";
@use "./components/Switch";
@use "./components/CheckBox";
@use "./components/Select";
@use "./components/DropDown";
@use "./components/Keymap";
@use "./pages/Welcome";
@use "./pages/Chat";
@use "./overlay/Overlay";
@use "./overlay/Tools";
@use "./overlay/Model";
@use "./overlay/System";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  display: flex;
  justify-content: center;
  background: var(--bg);
  color: var(--text);
}

#root {
  width: 100%;
  height: 100vh;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--text);
}

.app-content {
  display: flex;
}

.outlet-container {
  display: flex;
  flex: 1;
  position: relative;
}

.main-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - $header-height);
  padding: 20px;
  color: var(--text);
}
