@use "../variables" as *;

.system-page {
  min-width: 400px;
  overflow-y: auto;
}

.system-container {
  width: 100%;
  max-width: 800px;
  min-height: calc(100vh - 85px);
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0;
    font-size: 28px;
  }

  .system-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 34px;
    position: relative;
  }


  .system-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
    overflow: hidden;

    .system-list-section {
      padding: 16px 24px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      gap: 8px;
      border: 1px solid var(--border-weak);
      border-radius: 10px;

      .system-list-content {
        display: flex;
        justify-content: space-between;
        width: 100%;

        img, svg {
          width: 24px;
          height: 24px;
        }

        .system-list-name {
          font-weight: 500;
          font-size: 20px;
        }
      }

      .system-list-switch-container {
        .select-button {
          width: 160px;
        }
      }

      .system-list-description {
        font-size: 16px;
        font-weight: 400;
        color: var(--text-weak);
      }
    }
  }
}